body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slashed {
  text-decoration: line-through;
}

.delete-icon {
  cursor: pointer;
}
.delete-icon:hover {
  color: darkred;
}

.date-marked {
  font-size: 13px;
  color: #888;
  font-style: italic;
}

.remove-marked {
  font-size: 18px;
}

.remove-marked:hover {
  color: darkred;
  cursor: pointer;
}

.task-checkbox input {
  cursor: pointer;
}

.hidden {
  display: none;
}

.edit-icon:hover {
  color: orange;
  cursor: pointer;
}